:root{
  --purple-200: #A369FF;
  --purple-300: #8733ff;

  --grey-300: #4F4F4F;

  --white-300: #FFFFFF;

}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.menuPrincipal{
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.botaoMenuPrincipal{
  color: var(--white-300);
  text-decoration: none;
}

@media (max-width: 767px){
  .menuPrincipal{
    flex-direction: column;
  }
}

